.App {
  text-align: center;
  background-color: #6d717a;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
}

.homeButton {
  background-color: #6d717a;
  border: 0px;
}

.homeButton:hover {
  cursor: pointer;
}

.homeIcon {
  display: flex;
  font-size: 74px;
  color: black;
  margin: 15px;
}
.pageTitle {
  margin: 15px;
}

.catIcon {
  font-size: 75px;
  margin: 10px;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 56%;
}

.category {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  font-size: 30px;
  margin: 5px;
  border-radius: 40px;
  background-color: #6d717a;
}

.category:hover {
  transform: scale(1.02);
}

.keyboardContainer {
  display: flex;
  justify-content: center;
}

.keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 253px;
  justify-content: center;
}

.replayButton {
  height: 45px;
  width: 45px;
  font-size: x-large;
}
